.dylan {
  color: red;
}

.dylan2 {
  composes: bye from global;
  color: blue;
}

.className {
  color: green;
  background: red;
}

.className2 {
  border: 1px solid black;
}

.otherClassName {
  composes: className className2;
  composes: hello from './hello.module.css';
  color: yellow;
}
